<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Select Folder</title>
  </head>
  <body>
    <h1>Select a Folder to Process</h1>
    <form action="{{ url_for('process_folder') }}" method="post">
      <label for="foldername">Choose a folder:</label>
      <select id="foldername" name="foldername" required>
        {% for folder in folders %}
        <option value="{{ folder }}">{{ folder }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <label for="resize"
        >Need Resize (faster processing, but lower quality):</label
      >
      <input type="checkbox" id="resize" name="resize" />
      <br /><br />
      <label for="distortion">Are images distorted:</label>
      <input type="checkbox" id="distortion" name="distortion" value="on" />
      <br /><br />
      <label for="rotate90"
        >Do you want to rotate images 90 degrees clockwise:</label
      >
      <input type="checkbox" id="rotate90" name="rotate90" />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <a href="{{ url_for('uploadHome') }}">Go back to Upload Page</a>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
